p {
	color: yellow;
}

* {
	font-family: Calibri;
	font-size: 15px;
}

h1 {
	font-size: 30px;

}

#h2-tags {
	text-transform: uppercase;
}

.web-dev {
	background-color: limegreen;
}

li[required]{

	border: 1px solid darkblue;

}

/*Adjacent Sibling Selector*/

h4 + img + ul {

	list-style-type: none ;
}

/*Descendant Selector*/

#js-image img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/

ul + p {
	text-align: center;
	color: black !important;
}

body > section > ul {
	font-family: "Courier New", monospace;
	letter-spacing: 5px;
	
}









